html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

h3 { text-align: center; }

#container {
    width: 100%;
    height: 100%;
}

#desc-container {
    position: absolute;
    width: 80%;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%,-10%);
    border: none;
    background: #fff;
    opacity: 0.8;
    padding : 10px;
    color: #000;
    border-radius: 3px;
}