html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
}

#container {
    width: 100%;
    height: 100%;
}

.desc_container {
    position: absolute;
    margin: auto;
    width: 100%;
    padding: 20px;
    color: #fff;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.5s ease-out;
            -o-transition: opacity 0.5s ease-out;
            transition: opacity 0.5s ease-out;

}

.desc_container {
    text-align: center;
    pointer-events: none;
    letter-spacing: 1px;
}

.desc_container header {
    font-family: 'Oswald', sans-serif;
    font-size: 3.2em;
    font-weight: 200;
}

.desc_container article {
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 2.2em;
    font-weight: 150;
}

@media (max-width: 800px) {
    .desc_container header {
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        font-weight: 180;
    }
    
    .desc_container article {
        font-family: 'Noto Serif KR', sans-serif;
        font-size: 1.5em;
        font-weight: 100;
    }
    
}