html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #fff;
}

#progress {
  position: absolute;
  width: 100%;
  height: 3px;
}

#bar {
  background-color: #fff;
  height: 100%;
  transition: width 0.1s ease;
}

#bar.hide {
  opacity: 0;
  transition: opacity 1s ease;
}

#container {
  width: 100%;
  height: 80%;
}

button {
  position: absolute;
  top: 5px;
  width: 100px;
  height: 30px;
}

#btn1 {
  left: 5px;
}

#btn2 {
  left: 110px;
}

#btn3 {
  left: 215px;
}